@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.logo a{
    color: green;
    font-family: cursive;
    font-size: larger;
}
span{
    color: rgb(255, 5, 88);
}

nav,.center-page ul,.right-page ul,.logo,.head-container,.head-btn,.image,.all-card{
    display: flex;
}

.logo,.head-container,.head-btn,.image{
    justify-content: center;
    align-items: center;
}

nav{
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: linear-gradient(#fff,rgb(252, 218, 235));
    position: sticky;
    top: 0;
}

nav{
    background: #eee;
}

ul li{
    margin: 0 1.5rem;
    list-style: none;
    
}
.active a,ul li a:hover{
    color: red;
}
ul li a,.logo a{
    text-decoration: none;
}
ul li a{
    color: gray;
}

.head-container{
    background-image: url(../image/picture-1.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center;
}
.head-text h1,.head-text p{
    margin: 0;
}

.head-text h1,.head-text p,.h1{
    margin: auto;
    width: 50%;
}


.head-text h1,.head-text p,h1{
    text-align: center;
}

.h1{
    border-radius: 40px;
}

.head-text h1{
    color: red;
    font-size: 3em;
}
.head-btn{
    margin-top: 10px;
}
.head-btn button{
    width: 10vw;
    border: none;
    cursor: pointer;
    margin: 10px;
}
.head-btn button,.h1 h1{
    padding: 10px;
}

.head-btn button{
    color: black;
}

.head-btn button{
    border: 2px solid blue;
}

.head-btn .btn-left:hover,.head-btn .btn-right:hover,.h1 h1{
    color: #fff;
}
.head-btn .btn-left:hover,.h1{
    background:orange;
}
.head-btn .btn-right:hover{
    background: deeppink;
}
.card{
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background:orange;
}

.image{
    margin: 15px;
}